.welcomeWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  gap: 1rem;
  position: relative;
  height: 6rem;
  width: 100%;
}

.welcomeCopy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 1rem;
}

.leftCopy {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0;
  font-family: var(--font-roboto-condensed);
  width: 5rem;
}

.leftCopy P {
  margin: 0.75rem 0;
}

.leftCopy p:nth-child(2) {
  margin-top: -18pt;
}

.rightCopy {
  text-align: left;
  overflow: hidden;
  font-weight: 600;
  font-size: 3rem;
  display: block;
  white-space: nowrap;
  text-transform: uppercase;
  margin-top: 0.8rem;
}

.rightCopy p {
  margin: 0px;
  font-family: var(--font-roboto-condensed);
  line-height: 3rem;
}

.highlight {
  color: #37a1ae;
}

.scroller {
  height: 3rem;
  line-height: 3rem;
  overflow: hidden;
}
.scroller .inner {
  animation: 10s normal infinite running scroll;
}
@keyframes scroll {
  0% {
    margin-top: 0px;
  }
  15% {
    margin-top: 0px;
  }

  25% {
    margin-top: -3rem;
  }
  40% {
    margin-top: -3rem;
  }

  50% {
    margin-top: -6rem;
  }
  65% {
    margin-top: -6rem;
  }
}

@media screen and (min-width: 1200px) {
  .welcomeWrapper {
    margin: 3rem auto 0;
    height: 5rem;
  }

  .leftCopy {
    font-size: 2rem;
    width: 6rem;
  }

  .leftCopy p:nth-child(2) {
    margin-top: -20pt;
  }

  .rightCopy {
    font-size: 5rem;
  }

  .rightCopy p {
    line-height: 5rem;
  }

  .scroller {
    height: 5rem;
    line-height: 5rem;
  }

  @keyframes scroll {
    25% {
      margin-top: -5rem;
    }
    40% {
      margin-top: -5rem;
    }

    50% {
      margin-top: -10rem;
    }
    65% {
      margin-top: -10rem;
    }
  }
}
