.footerLinks {
  background-color: var(--petfood-background-secondary);
}

.footerWrapper {
  display: grid;
  padding: 3rem 1rem 8rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 1rem;
  max-width: var(--petfood-width);
}

.footerWrapper ul {
  padding: 0;
  margin-top: 0.5rem;
}

.footerWrapper ul li {
  list-style-type: none;
  padding: 5px 0;
}

.footerTitle {
  color: var(--petfood-font-highlight);
  text-transform: uppercase;
  font-size: 1rem;
}

.footerWrapper a {
  color: #fff;
  text-decoration: none;
}

.footerCopyright {
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  text-align: center;
  font-size: 0.75rem;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .footerWrapper {
    padding: 4rem 1rem 8rem;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .footerWrapper a:hover {
    text-decoration: underline;
  }

  .footerCopyright {
    -ms-grid-column-span: 1;
    grid-column: 4 / span 1;
    text-align: center;
    font-size: 1rem;
  }
}
